# ==================================================================================
# ==================================================================================
#                            @codeimage codeowners
# ==================================================================================
# ==================================================================================
#
#
#  More info: https://help.github.com/articles/about-codeowners/
#

* @riccardoperra
# will be requested for review when someone opens a pull request
