.frame {
  --frame-width: 0px;
  width: var(--frame-width);
  height: 150px;
  background-color: gray;
  padding: 128px;
  position: relative;
  min-width: 520px;
  min-height: 154px;
  max-width: 920px;
  user-select: none;
  z-index: 1;
}

.dragControlPoints {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  .dragControlHandler {
    --control-handle-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: var(--control-handle-size);
    height: var(--control-handle-size);
    z-index: 10;
    cursor: ew-resize;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      transform: translate(-50%, -50%);
      background-color: #fff;
      transition: transform .1s ease;
    }

    &:hover {
      &::after {
        transform: translate(-50%, -50%) scale(2);
      }
    }

    &.dragControlLeft {
      left: calc(var(--control-handle-size) / 2 * -1);
    }

    &.dragControlRight {
      right: calc(var(--control-handle-size) / 2 * -1);
    }
  }
}