.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: relative;
}
.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: rgb(255, 255, 255, 1);
  width: 100%;
  transform: scaleX(0);
  transform-origin: 0%;
}
