.container {
  margin: 4px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(24 24 27);
  background-color: rgb(39 39 42 / 0.25);
  place-content: center flex-start;
  flex-flow: row nowrap;
  color: #fff;
  gap: 96px;
  overflow: visible;
  flex: 1;
  position: relative;
  flex-direction: column;
  padding: 24px;
  border-radius: 24px;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  opacity: 0;
  --disabled-opacity: 0;
}
.container[data-active='true'] {
  opacity: 1;
  box-shadow:
    rgb(255, 255, 255) 0px 0px 0px 0px,
    var(--active-color) 0px 0px 0px 3px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.container[data-active='false'] {
  opacity: var(--disabled-opacity);
}
@media (min--moz-device-pixel-ratio: 0) {
  .container {
    background-color: rgb(0 0 0 / 0.35);
  }
}
@media screen and (min-width: 740px) {
  .container {
    --disabled-opacity: 0.5;
  }
}
