.main {
  background-color: var(--root-black);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 6rem;
}
@media screen and (min-width: 992px) {
  .main {
    padding-left: 0;
    padding-right: 0;
  }
}
.container {
  max-width: 80rem;
  margin: auto;
}
.twoSections {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .twoSections {
    flex-direction: row;
  }
}
.badge {
  width: 64px;
  height: 64px;
  color: white;
  border-radius: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.metricsBadge {
  background-color: var(--root-purple);
}
.themeBuilderBadge {
  background-color: var(--root-red);
}
.embedsBadge {
  background-color: var(--root-teal);
}
.storageBadge {
  background-color: var(--root-green);
}
.analyticsFeatureCard {
  flex-direction: column-reverse;
}
@media screen and (min-width: 992px) {
  .analyticsFeatureCard {
    flex-direction: row;
  }
}
.analyticsCardContainer {
  display: flex;
  gap: 24px;
}
.leftCardAnalytics {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.rightCardAnalytics {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.analyticsCard {
  width: 224px;
  height: 140px;
  box-sizing: content-box;
  background: #e9d8fd;
  padding: 24px;
  color: #2d3748;
  border-radius: 16px;
}
@media screen and (min-width: 992px) {
  .analyticsCard {
    border-radius: 32px;
  }
}
.image {
  pointer-events: none;
  user-select: none;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
  image-rendering: auto;
}
.comingSoonBadge {
  background-color: #232323;
  color: #999999;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  border: 1px solid #333333;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
