.sectionWrapper {
  background-color: var(--root-black);
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 200vh;
}
@media screen and (min-width: 740px) {
  .sectionWrapper {
    height: 275vh;
  }
}
@media screen and (min-width: 992px) {
  .sectionWrapper {
    padding: 0;
  }
}
.backdrop {
  content: '';
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(0px, -50%, 0) scale(0.9);
  filter: blur(500px) saturate(200%);
  opacity: 0.7;
  transition: opacity 0.3s;
  border-radius: 1.5rem;
  flex: 1;
  overflow: hidden;
  height: 500px;
  top: 50%;
}
@media (min--moz-device-pixel-ratio: 0) {
  .backdrop {
    transform: translate3d(0, 0, 0) scale(0.9);
    height: 100%;
    top: 0;
    opacity: 0.3;
    filter: blur(200px);
  }
}
.stickyContent {
  position: sticky;
  width: 100%;
  display: flex;
  align-items: center;
  will-change: transform;
  flex-direction: column;
  z-index: 1;
  left: 0px;
  gap: 24px;
  filter: saturate(1.2);
  height: 100vh;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  top: 64px;
}
@supports (height: 100svh) {
  .stickyContent {
    height: 100svh;
  }
}
@media screen and (min-width: 740px) {
  .stickyContent {
    top: 100px;
  }
}
